$yellow: #fee074;
$green1: #24694f;
$green2: #162b2e;
$text: #021633;

$black: #000000;
$grey0: #000000;
$grey1: #111111;
$grey2: #222222;
$grey3: #333333;
$grey4: #444444;
$grey5: #555555;
$grey6: #666666;
$grey7: #777777;
$grey8: #888888;
$grey9: #999999;
$greya: #aaaaaa;
$greyb: #bbbbbb;
$greyc: #cccccc;
$greyd: #dddddd;
$greye: #eeeeee;
$greyf: #ffffff;
$greyf2: #f2f2f2;
$greyf9: #f9f9f9;
$white: #ffffff;
