website/project_01/node_modules
website/project_02/node_modules
website/project_03/node_modules
website/project_04/node_modules
website/project_05/node_modules
website/project_06/node_modules
website/project_07/node_modules