$baseRed: #f7473e;
$baseRedLight: #FED0CD;
$red: #f7473e;
$redLight: #f37b74;
$green: #43cc74;
$greenLight: #5dd789;
$blue: #279ada;
$blueLight: #64b4e1;

$black: #000000;
$grey0: #000000;
$grey1: #111111;
$grey2: #222222;
$grey3: #333333;
$grey4: #444444;
$grey5: #555555;
$grey6: #666666;
$grey7: #777777;
$grey8: #888888;
$grey9: #999999;
$greya: #aaaaaa;
$greyb: #bbbbbb;
$greyc: #cccccc;
$greyd: #dddddd;
$greye: #eeeeee;
$greyf: #ffffff;
$white: #ffffff;
