.copyright {
	max-width: 100vw;
	overflow-x: hidden;
	padding: 15px 0px 15px 0px;
	text-align: center;
	background-color: $baseRed;

	@include md {
		padding: 35px 0px 43px 0px;
		text-align: left;
	}
	&__desc {
		@include roboto(16px, 700);
		color: $greyf;
	}
}

@media all and (max-width: 576px) {
	.copyright {
	}
}

@media all and (min-width: 576px) {
	.copyright {
	}
}

@media all and (min-width: 768px) {
	.copyright {
	}
}

@media all and (min-width: 992px) {
	.copyright {
	}
}

@media all and (min-width: 1200px) {
	.copyright {
	}
}
