$textOrange: #89570D;
$orange: #FFB84F;
$menuLink: #0A043C;
$textTitle: #2A2C36;
$text: #79869F;
$imagePlaceholder: #C4C4C4;
$pageNameBg: #fff8ed;
$red: #F26767;

$black: #000000;
$grey0: #000000;
$grey1: #111111;
$grey2: #222222;
$grey3: #333333;
$grey4: #444444;
$grey5: #555555;
$grey6: #666666;
$grey7: #777777;
$grey8: #888888;
$grey9: #999999;
$greya: #aaaaaa;
$greyb: #bbbbbb;
$greyc: #cccccc;
$greyd: #dddddd;
$greye: #eeeeee;
$greyf: #ffffff;
$white: #ffffff;