$textOrange: #89570d;
$orange: #ffb84f;
$menuLink: #0a043c;
$textTitle: #2a2c36;
$text: #79869f;
$imagePlaceholder: #c4c4c4;
$pageNameBg: #fff8ed;
$red: #f26767;

$black: #000000;
$grey0: #000000;
$grey1: #111111;
$grey2: #222222;
$grey3: #333333;
$grey4: #444444;
$grey5: #555555;
$grey6: #666666;
$grey7: #777777;
$grey8: #888888;
$grey9: #999999;
$greya: #aaaaaa;
$greyb: #bbbbbb;
$greyc: #cccccc;
$greyd: #dddddd;
$greye: #eeeeee;
$greyf: #ffffff;
$white: #ffffff;
