.footer {
	padding-top: 37px;

	&__container {
	}
	&__row {
		margin-left: -15px;
		margin-right: -15px;
		display: flex;
		flex-wrap: wrap;
	}
	&__column {
		padding-left: 15px;
		padding-right: 15px;
		// max-width:25%;
		// flex-basis:25%;
	}
	&__logo {
		margin-top: 8px;
		margin-bottom: 15px;

		img {
			height: 22.5px;
		}
	}
	&__text {
		font-size: 1rem;
		margin-bottom: 8px;
		line-height: 1.83;
		display: block;
		font-family: "Poppins", sans-serif;
	}
	&__contact {
		margin-top: 13px;
	}
	&__contact__item {
		display: flex;
		align-items: center;
	}
	&__contact__icon {
		width: 20px;
		margin-right: 17px;

		img {
			width: 100%;
			object-fit: contain;
		}
	}
	&__column {
		&:nth-child(1) {
			max-width: 467px;
			flex-basis: 467px;
		}
		&:nth-child(2) {
			max-width: 200px;
			flex-basis: 200px;
		}
		&:nth-child(3) {
			max-width: 219px;
			flex-basis: 219px;
		}
		&:nth-child(4) {
		}
	}
	&__title {
		font-size: 1.06rem;
		margin-bottom: 26px;
	}
	&__menu {
	}
	&__menu__item {
	}
	&__menu__link {
	}
}

@media all and (max-width: 1200px) {
	.footer {
		&__container {
		}
		&__row {
			justify-content: space-between;
		}
		&__column {
		}
		&__logo {
		}
		&__text {
		}
		&__contact {
		}
		&__contact__item {
		}
		&__contact__icon {
		}
		&__column {
			&:nth-child(1) {
				max-width: 25%;
				flex-basis: 25%;
			}
			&:nth-child(2) {
				max-width: 25%;
				flex-basis: 25%;
			}
			&:nth-child(3) {
				max-width: 25%;
				flex-basis: 25%;
			}
			&:nth-child(4) {
				max-width: 25%;
				flex-basis: 25%;
			}
		}
		&__title {
		}
		&__menu {
		}
		&__menu__item {
		}
		&__menu__link {
		}
	}
}

@media all and (max-width: 992px) {
	.footer {
		&__container {
		}
		&__row {
			margin-left:-5px;
			margin-right:-5px;
		}
		&__column {
		}
		&__logo {
		}
		&__text {
			font-size:0.8rem;
		}
		&__contact {
		}
		&__contact__item {
			justify-content: center;
		}
		&__contact__icon {
		}
		&__column {
			padding-left:5px;
			padding-right:5px;

			&:nth-child(1) {
				max-width: 100%;
				flex-basis: 100%;
				margin-bottom: 30px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
			}
			&:nth-child(2) {
				max-width: 33.333333%;
				flex-basis: 33.333333%;
			}
			&:nth-child(3) {
				max-width: 33.333333%;
				flex-basis: 33.333333%;
			}
			&:nth-child(4) {
				max-width: 33.333333%;
				flex-basis: 33.333333%;
			}
		}
		&__title {
			text-align: center;
		}
		&__menu {
			text-align: center;
		}
		&__menu__item {
		}
		&__menu__link {
			white-space: nowrap;
		}
	}
}

@media all and (max-width: 768px) {
	.footer {
		&__container {
		}
		&__row {
		}
		&__column {
		}
		&__logo {
		}
		&__text {
		}
		&__contact {
		}
		&__contact__item {
		}
		&__contact__icon {
		}
		&__column {
		}
		&__title {
		}
		&__menu {
		}
		&__menu__item {
		}
		&__menu__link {
		}
	}
}

@media all and (max-width: 576px) {
	.footer {
		&__container {
		}
		&__row {
		}
		&__column {
		}
		&__logo {
		}
		&__text {
		}
		&__contact {
		}
		&__contact__item {
		}
		&__contact__icon {
		}
		&__column {
		}
		&__title {
		}
		&__menu {
		}
		&__menu__item {
		}
		&__menu__link {
		}
	}
}
