/* Material Based Color Scheme */

// $primary:#FF6663;
$primary:#0B3954;
// $primary:#EFC1C1;
// $primary:#EFC1C1;

$lightDark: #404d52;
$semiDark: #263238;
$hardDark: #1a2327;
$teal: #80cbc4;
$pink: #a074c4;

$white:#ffffff;
$black:#000000;
$grey1:#111111;
$grey2:#222222;
$grey3:#333333;
$grey4:#444444;
$grey5:#555555;
$grey6:#666666;
$grey7:#777777;
$grey9:#888888;
$grey9:#999999;
$greya:#aaaaaa;
$greyb:#bbbbbb;
$greyc:#cccccc;
$greyd:#dddddd;
$greye:#eeeeee;