.field-group{
    width:100%;
    margin-bottom:15px;
    display: flex;
    flex-direction: column-reverse;
    .field{
        width:100%;
        padding:5px 15px;
        min-height:40px;
        outline:none;
        box-shadow:none;
        display: flex;

        &.large{
            min-height:50px;
        }
    }
}