@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url(./../plugin/nice-select/main.css);
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  color: #021633; }

html,
body {
  font-family: "DM Sans", sans-serif;
  color: #021633; }

body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  color: #021633; }

input,
select,
textarea,
button {
  font-family: "DM Sans", sans-serif;
  color: #021633; }

section {
  padding: 70px 0px;
  overflow-x: hidden;
  overflow-y: hidden; }

h2 {
  font-size: 2.156rem;
  line-height: 1.5;
  letter-spacing: 0px;
  word-spacing: -1.5px;
  margin-bottom: 2.6rem; }

h3 {
  font-size: 0.96rem;
  line-height: 1.4; }

p {
  font-size: 0.95rem;
  line-height: 2.2; }

@media all and (max-width: 1200px) {
  section {
    padding-top: 45px;
    padding-bottom: 45px;
    overflow-x: hidden; } }

@media all and (max-width: 992px) {
  section {
    padding-top: 45px;
    padding-bottom: 45px;
    overflow-x: hidden; } }

@media all and (max-width: 768px) {
  section {
    padding-top: 30px !important;
    padding-bottom: 30px !important; }
  h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem; }
  h3 {
    font-size: 0.96rem;
    line-height: 1.4; }
  p {
    font-size: 0.8rem; } }

@media all and (max-width: 576px) {
  section {
    padding-top: 45px;
    padding-bottom: 45px;
    overflow-x: hidden; } }

.yellow {
  color: #fee074 !important; }

.green1 {
  color: #24694f !important; }

.green2 {
  color: #162b2e !important; }

.button {
  font-size: 0.8rem;
  min-height: 42px;
  padding: 5px 15px;
  border-radius: 30px;
  border: 1px solid transparent;
  outline: none;
  box-shadow: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #021633; }
  .button.yellow {
    background-color: #fee074;
    color: #021633 !important; }
  .button.green1 {
    background-color: #24694f;
    color: #ffffff !important; }
  .button.white {
    background-color: #ffffff;
    color: #222222; }

.container {
  max-width: 1048px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
  box-sizing: border-box; }

.about_us {
  padding-bottom: 48px; }
  .about_us__row {
    margin-left: -17px;
    margin-right: -17px;
    display: flex;
    flex-wrap: wrap;
    position: relative; }
  .about_us__column {
    padding-left: 17px;
    padding-right: 17px;
    max-width: 25%;
    flex-basis: 25%;
    position: relative; }
  .about_us__card {
    padding: 40px 27px 36px;
    border-radius: 20px;
    min-height: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: #eeeeee; }
    .about_us__card:before {
      content: "";
      width: 100%;
      height: 100%;
      top: 0px;
      left: -100%;
      z-index: 0;
      transition: 0.5s;
      display: block;
      background-color: transparent;
      position: absolute; }
    .about_us__card--active:before, .about_us__card:hover:before {
      transition: 0.5s;
      left: 0px;
      background-color: #fee074; }
  .about_us__card__icon {
    margin-bottom: 48px;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; }
    .about_us__card__icon img {
      width: 50px;
      object-fit: contain; }
  .about_us__card__title {
    z-index: 1;
    position: relative; }

@media all and (max-width: 992px) {
  .about_us__column {
    padding-left: 17px;
    padding-right: 17px;
    max-width: 50%;
    flex-basis: 50%;
    position: relative; }
  .about_us__card {
    margin-bottom: 34px; } }

@media all and (max-width: 768px) {
  .about_us__row {
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    flex-wrap: wrap;
    position: relative; }
  .about_us__column {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 50%;
    flex-basis: 50%;
    position: relative; }
  .about_us__card {
    margin-bottom: 10px;
    padding: 15px;
    min-height: 205px; } }

@media all and (max-width: 400px) {
  .about_us__column {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 100%;
    flex-basis: 100%;
    position: relative; }
  .about_us__card {
    margin-bottom: 10px;
    padding: 15px;
    min-height: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; }
  .about_us__card__icon {
    margin-bottom: 0px;
    margin-right: 30px; }
  .about_us__card__title {
    width: calc(100% - 110px); } }

.handyman {
  padding-top: 73px;
  padding-bottom: 93px;
  background-color: #fee074; }
  .handyman__top {
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
  .handyman__title {
    letter-spacing: -0.7px;
    word-spacing: 2px; }
  .handyman__see_more {
    font-size: 0.92rem;
    transform: scale(1, 0.85) translate(0px, -4px);
    text-transform: uppercase;
    font-weight: bold;
    color: #24694f; }
  .handyman__slider {
    margin-left: -17px;
    margin-right: -17px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-wrap: nowrap;
    animation: slide 15s infinite alternate linear; }

@keyframes slide {
  from {
    transform: translateX(-2450px); }
  to {
    transform: translateX(700px); } }
    .handyman__slider:hover {
      animation-play-state: paused; }
  .handyman__slider__item {
    padding-left: 17px;
    padding-right: 17px;
    max-width: 346px;
    flex-basis: 346px;
    position: relative;
    min-width: 350px; }
  .handyman__card {
    min-height: 357px;
    padding: 18px 16px 22px 16px;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .handyman__card__top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .handyman__card__image {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    margin-bottom: 7px;
    background-color: #eeeeee;
    border: 4px solid #f2f2f2; }
  .handyman__card__category {
    font-size: 0.9rem;
    letter-spacing: -1.5px;
    margin-top: 1px;
    display: block; }
  .handyman__card__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translate(0px, -18px); }
  .handyman__card__rate {
    font-size: 1.7rem;
    font-weight: bold;
    display: flex;
    align-items: center; }
    .handyman__card__rate img {
      width: 15px;
      transform: translate(-7px, -1px); }
  .handyman__card__count {
    font-size: 0.77rem;
    text-decoration: underline;
    transform: translate(1px, -2px); }
  .handyman__card__verified {
    font-size: 0.77rem;
    display: flex;
    align-items: center;
    transform: translate(0px, 9px); }
    .handyman__card__verified img {
      height: 16px;
      margin-right: 5px;
      object-fit: contain; }
  .handyman__card__body {
    height: 117px;
    padding: 12px 21px;
    border-radius: 15px;
    background-color: #eeeeee; }
  .handyman__card__last_review {
    font-size: 0.78rem;
    margin-bottom: 9px;
    margin-top: 3px;
    letter-spacing: -0.5px;
    font-weight: bold;
    display: block;
    color: #777777; }
  .handyman__card__review {
    font-size: 0.8rem;
    margin-top: 6px;
    letter-spacing: -0.5px;
    line-height: 21px; }
  .handyman__card__reviewer {
    margin-top: 5px;
    font-size: 0.78rem;
    font-weight: bold;
    color: #24694f;
    display: flex;
    align-items: center; }
    .handyman__card__reviewer:before {
      content: "";
      width: 13px;
      height: 2px;
      margin-right: 6px;
      background-color: #24694f;
      display: block; }
  .handyman__card__button {
    width: 141px;
    min-height: 33px;
    font-weight: 500;
    color: #24694f; }
  .handyman__button {
    margin-top: 53px;
    min-height: 47px;
    width: 228px;
    justify-content: space-between;
    padding: 4px 25px 2px 25px;
    font-size: 0.7rem;
    letter-spacing: 1.2px; }
    .handyman__button img {
      height: 13px; }

@media all and (max-width: 576px) {
  .handyman__top {
    margin-bottom: 30px;
    flex-direction: column; } }

.header {
  height: 624px;
  padding-bottom: 0px;
  margin-bottom: 52px;
  padding-top: 45px;
  background-color: #162b2e;
  position: relative;
  overflow: initial; }
  .header__container {
    z-index: 2;
    position: relative; }
  .header__row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    position: relative; }
  .header__column {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 50%;
    flex-basis: 50%;
    position: relative; }
    .header__column:last-child {
      top: 0px;
      right: 0px;
      position: absolute; }
  .header__title {
    font-size: 3.3rem;
    letter-spacing: 1.1px;
    line-height: 61px;
    font-weight: 500;
    margin-top: 34px;
    white-space: nowrap;
    color: #ffffff; }
    .header__title span {
      letter-spacing: 2px;
      position: relative; }
      .header__title span:after {
        content: "";
        width: 128px;
        height: 50px;
        left: 6px;
        top: 64px;
        background-image: url("./../image/underline.svg");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        display: block; }
  .header__desc {
    font-size: 1.25rem;
    margin-top: 33px;
    word-spacing: -1.1px;
    line-height: 27px;
    letter-spacing: 0.3px;
    color: #aaaaaa; }
  .header__form {
    margin-top: 26px; }
  .header__radio {
    margin-bottom: 17px;
    display: flex;
    align-items: baseline; }
  .header__radio__item {
    margin-right: 22px; }
  .header__radio__field {
    display: none; }
    .header__radio__field:checked ~ .header__radio__label {
      transition: 0.5s;
      color: #fee074; }
      .header__radio__field:checked ~ .header__radio__label:after {
        transition: 0.5s;
        background-color: #fee074; }
  .header__radio__label {
    font-size: 0.86rem;
    padding: 15px 0px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ffffff;
    cursor: pointer; }
    .header__radio__label:last-child {
      margin-right: 0px; }
    .header__radio__label:after {
      content: "";
      transition: 0.5s;
      width: 21px;
      height: 3px;
      border-radius: 30px;
      top: 12px;
      margin: 0px auto;
      background-color: transparent;
      position: relative; }
  .header__search_bar {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff; }
  .header__field_group {
    width: calc(100% + 60px);
    position: relative;
    display: flex;
    flex-direction: column-reverse; }
    .header__field_group:last-of-type {
      width: 100%; }
    .header__field_group .nice-select {
      width: 100%;
      height: 60px;
      line-height: 70px;
      border-radius: 30px;
      padding-left: 27px;
      z-index: 0;
      transition: 0.5s;
      box-shadow: none;
      position: relative;
      border: none; }
      .header__field_group .nice-select .current {
        letter-spacing: 0.5px;
        margin-top: 2px;
        font-size: 0.79rem;
        display: block; }
      .header__field_group .nice-select .list {
        margin-top: 7px;
        min-width: 135px;
        border-radius: 20px;
        padding: 24px 0px 16px 0px;
        box-shadow: 0px 28px 48px rgba(0, 0, 0, 0.08); }
        .header__field_group .nice-select .list .option {
          margin-top: -7px;
          padding: 0px 26px;
          min-height: 34px;
          font-weight: 500;
          letter-spacing: -0.5px;
          line-height: initial;
          display: flex;
          align-items: center; }
          .header__field_group .nice-select .list .option.selected {
            font-weight: bold;
            background-color: transparent; }
          .header__field_group .nice-select .list .option[data-display] {
            display: none; }
      .header__field_group .nice-select:after {
        opacity: 0;
        visibility: hidden; }
      .header__field_group .nice-select:focus {
        transition: 0.5s;
        z-index: 1;
        box-shadow: 0px 28px 48px rgba(0, 0, 0, 0.14); }
  .header__label {
    font-size: 0.7rem;
    letter-spacing: 0.3px;
    top: 10px;
    left: 27px;
    z-index: 1;
    font-weight: bold;
    position: absolute;
    color: #888888; }
  .header__button {
    width: 42px;
    height: 40px;
    padding: 0px;
    z-index: 1;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fee074;
    position: absolute; }
    .header__button img {
      width: 20px;
      object-fit: contain; }
  .header__behide {
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0px;
    left: 0px;
    overflow: hidden;
    position: absolute; }
  .header__image {
    width: 452px;
    bottom: -5px;
    right: 13.87vw;
    position: absolute; }
    .header__image img {
      width: 100%;
      z-index: 1;
      position: relative;
      object-fit: contain; }
    .header__image:after {
      content: "";
      width: 494px;
      height: 494px;
      border-radius: 50%;
      bottom: -146px;
      left: -1.2vw;
      z-index: 0;
      background-color: #fee074;
      position: absolute; }

@media all and (max-width: 768px) {
  .header {
    margin-bottom: 0px;
    height: initial;
    text-align: center; }
    .header__column {
      padding-left: 15px;
      padding-right: 15px;
      max-width: 100%;
      flex-basis: 100%;
      position: relative; }
    .header__title {
      margin-top: 0px;
      font-size: 2rem;
      line-height: 40px; }
      .header__title span:after {
        width: 94px;
        left: 0px;
        top: 40px; }
    .header__radio {
      justify-content: center; }
    .header__radio__item:last-child {
      margin-right: 0px; }
    .header__field_group .nice-select {
      padding-left: 15px;
      padding-right: 15px; }
    .header__label {
      left: 15px; }
    .header__button {
      right: 10px; }
    .header__behide {
      opacity: 0.5; }
    .header__image {
      top: 5vh;
      bottom: initial; } }

.hire {
  padding-bottom: 163px; }
  .hire__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
  .hire__title {
    letter-spacing: -0.2px; }
  .hire__see_more {
    font-size: 0.92rem;
    transform: scale(1, 0.85) translate(0px, -4px);
    text-transform: uppercase;
    font-weight: bold;
    color: #24694f; }
  .hire__row {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-wrap: nowrap; }
  .hire__column {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 50%;
    flex-basis: 50%;
    position: relative; }
    .hire__column:nth-child(1) {
      max-width: 727px;
      flex-basis: 727px;
      margin-right: 35px; }
    .hire__column:nth-child(2) {
      min-width: 300px; }
  .hire__image {
    width: 100%;
    padding-top: 60.5%;
    border-radius: 15px;
    margin-bottom: 53px;
    background-color: #eeeeee; }
  .hire__subtitle {
    font-size: 1.1rem;
    letter-spacing: -0.2px;
    margin-bottom: 1.15rem; }
  .hire__desc {
    letter-spacing: -0.5px;
    line-height: 27px;
    font-weight: 500;
    font-size: 0.9rem; }
  .hire__button {
    margin-top: 23px;
    min-height: 53px;
    width: 140px;
    font-size: 0.8rem;
    font-weight: bold;
    transform: scale(1, 0.9); }
  .hire__list {
    margin-top: 10px; }
  .hire__list__radio {
    display: none; }
    .hire__list__radio:checked + .hire__list__item:before {
      transition: 0.5s;
      opacity: 1;
      visibility: visible;
      background-color: #f9f9f9; }
    .hire__list__radio:checked + .hire__list__item .hire__list__icon {
      transition: 0.5s;
      background-color: #fee074; }
  .hire__list__item {
    margin-bottom: 20.3px;
    position: relative; }
    .hire__list__item:before {
      content: "";
      width: 100%;
      height: 100%;
      padding: 10px 0px;
      border-radius: 10px;
      margin-bottom: 15px;
      top: -10px;
      transition: 0.5s;
      opacity: 0;
      visibility: hidden;
      position: absolute; }
    .hire__list__item:hover:before {
      transition: 0.5s;
      opacity: 1;
      visibility: visible;
      background-color: rgba(249, 249, 249, 0.8); }
  .hire__list__label {
    padding: 0px 33px;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer; }
  .hire__list__icon {
    width: 54px;
    height: 54px;
    transition: 0.5s;
    border-radius: 50%;
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center; }
    .hire__list__icon img {
      object-fit: contain; }
  .hire__list__title {
    margin-left: 34px;
    font-size: 0.9rem;
    letter-spacing: -0.3px;
    font-weight: bold; }

@media all and (max-width: 768px) {
  .hire__row {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-wrap: wrap;
    position: relative; }
  .hire__column {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
    flex-basis: 100%;
    position: relative; }
    .hire__column:nth-child(1) {
      display: flex;
      align-items: center; }
  .hire__image {
    margin-bottom: 0px;
    align-self: flex-start; }
  .hire__info {
    margin-left: 30px; }
  .hire__list {
    margin-top: 30px;
    display: inline-flex;
    flex-wrap: wrap; }
  .hire__list__item {
    width: 50%; }
  .hire__list__title {
    width: calc(100% - 90px); } }

@media all and (max-width: 576px) {
  .hire__top {
    margin-bottom: 30px;
    flex-direction: column; }
  .hire__column:nth-child(1) {
    margin: 0px; }
  .hire__image {
    z-index: 0;
    top: -30px;
    padding-top: 0px;
    height: 260px;
    position: absolute; }
  .hire__info {
    z-index: 1;
    position: relative; }
  .hire__list {
    margin-top: 50px; } }

@media all and (max-width: 576px) {
  .hire__top {
    margin-bottom: 30px;
    flex-direction: column; }
  .hire__column {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
    flex-basis: 100%;
    position: relative; }
    .hire__column:nth-child(2) {
      padding-left: 0px;
      padding-right: 0px;
      max-width: 100%;
      flex-basis: 100%;
      position: relative; }
  .hire__info {
    margin: 0px;
    padding: 0px 15px; }
  .hire__list {
    width: 100%;
    flex-direction: column; }
  .hire__list__item {
    width: 100%; }
  .hire__list__label {
    max-width: 300px;
    margin: 0px auto; } }

@media all and (max-width: 400px) {
  .hire__image {
    height: 340px; } }

#nav__controller {
  display: none; }

#nav__controller:checked ~ .nav {
  transition: 0.5s;
  left: 0px; }

#nav__controller:checked ~ .nav__controller span {
  transition: 0.5s; }
  #nav__controller:checked ~ .nav__controller span:nth-child(1) {
    transform: translate(0px, 0px) rotate(45deg); }
  #nav__controller:checked ~ .nav__controller span:nth-child(2) {
    opacity: 0;
    visibility: hidden; }
  #nav__controller:checked ~ .nav__controller span:nth-child(3) {
    transform: translate(0px, 0px) rotate(-45deg); }

.nav {
  width: 100%;
  height: 118px;
  background-color: #162b2e; }
  .nav__controller {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    bottom: 20px;
    right: 20px;
    z-index: 1001;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    outline: none;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    cursor: pointer; }
    .nav__controller span {
      width: 30px;
      height: 3px;
      transition: 0.5s;
      position: absolute;
      background-color: #24694f; }
      .nav__controller span:nth-child(1) {
        transform: translate(0px, -7.5px); }
      .nav__controller span:nth-child(3) {
        transform: translate(0px, 7.5px); }
  .nav__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .nav__logo {
    height: 32px; }
    .nav__logo img {
      height: 100%;
      object-fit: contain; }
  .nav__right {
    display: flex;
    align-items: center;
    transform: translateY(-1px); }
  .nav__menu {
    display: flex;
    align-items: center; }
  .nav__menu__item {
    margin-right: 40px; }
    .nav__menu__item:last-child {
      margin-right: 0px; }
  .nav__menu__link {
    font-size: 0.78rem;
    letter-spacing: 0.5px;
    color: #ffffff; }
  .nav__action {
    margin-left: 6.7vw;
    padding-left: 25px;
    display: flex;
    align-items: center; }
    .nav__action:before {
      content: "";
      width: 1px;
      height: 27px;
      top: 1px;
      left: -24px;
      background-color: #fee074;
      position: relative; }
  .nav__action__item {
    margin-left: 16px; }
    .nav__action__item:nth-child(1) {
      margin-right: 16px; }
  .nav__action__link {
    font-size: 0.78rem;
    letter-spacing: 0.5px;
    color: #ffffff; }
    .nav__action__link.button {
      width: 142px;
      min-height: 47px;
      padding-top: 6px;
      transform: translateY(1px); }
  .nav__action__text {
    font-size: 0.7 0.5rem;
    font-weight: bold;
    transform: scale(1, 0.9) translateX(1px); }

@media all and (max-width: 768px) {
  .nav {
    width: 250px;
    height: 100vh;
    padding: 10px 0px;
    z-index: 1000;
    top: 0px;
    left: -100vw;
    box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.05);
    position: fixed;
    background-color: #162b2e;
    display: flex;
    justify-content: center;
    align-items: center; }
    .nav__controller {
      display: flex; }
    .nav__container {
      height: initial;
      flex-direction: column;
      align-items: center; }
    .nav__right {
      flex-direction: column;
      align-items: center; }
    .nav__menu {
      margin: 6vh 0px 3vh 0px;
      width: 100%;
      flex-direction: column;
      align-items: center; }
    .nav__menu__item {
      margin-right: 0px;
      margin-bottom: 1.5vh; }
      .nav__menu__item:last-child {
        margin-bottom: 0px; }
    .nav__action {
      padding: 0px;
      margin: 3vh 0px 0px 0px;
      width: 100%;
      flex-direction: column;
      align-items: center; }
      .nav__action:before {
        height: 1px;
        width: 30px;
        left: 0px;
        top: -2.5vh; }
    .nav__action__item {
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 1.5vh; }
      .nav__action__item:nth-child(1) {
        margin-left: 0px;
        margin-right: 0px; }
      .nav__action__item:last-child {
        margin-bottom: 0px; } }

.service {
  padding-bottom: 50px; }
  .service__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
  .service__title {
    letter-spacing: -0.3px;
    word-spacing: 0px; }
  .service__see_more {
    font-size: 0.92rem;
    transform: scale(1, 0.85) translate(0px, -4px);
    text-transform: uppercase;
    font-weight: bold;
    color: #24694f; }
  .service__row {
    margin-left: -17px;
    margin-right: -17px;
    display: flex;
    flex-wrap: wrap;
    position: relative; }
  .service__column {
    padding-left: 17px;
    padding-right: 17px;
    max-width: 33.33333%;
    flex-basis: 33.33333%;
    position: relative; }
  .service__card {
    border-radius: 20px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08); }
  .service__card__image {
    width: 100%;
    padding-top: 71%;
    border-radius: 15px;
    background-color: #eeeeee; }
  .service__card__bottom {
    padding: 24px 27px; }
  .service__card__title {
    font-size: 0.85rem; }

@media all and (max-width: 576px) {
  .service__top {
    margin-bottom: 30px;
    flex-direction: column; }
  .service__column {
    padding-left: 17px;
    padding-right: 17px;
    max-width: 100%;
    flex-basis: 100%;
    position: relative; }
    .service__column:last-child .service__card {
      margin-bottom: 0px; }
  .service__card {
    margin-bottom: 34px; }
  .service__card__image {
    padding-top: 50vw; } }

.testimony {
  padding-top: 120px; }
  .testimony__row {
    margin-left: -17px;
    margin-right: -17px;
    display: flex;
    flex-wrap: wrap;
    position: relative; }
  .testimony__column {
    padding-left: 17px;
    padding-right: 17px;
    max-width: 50%;
    flex-basis: 50%;
    position: relative; }
    .testimony__column:nth-child(2) .testimony__title {
      letter-spacing: -0.1px; }
  .testimony__title {
    letter-spacing: -0.2px;
    margin-bottom: 1.35rem; }
  .testimony__desc {
    letter-spacing: -0.7px;
    line-height: 27px; }
  .testimony__video {
    margin-top: 64px;
    width: 100%;
    padding-top: 110%;
    border-radius: 20px;
    background-color: #24694f;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
  .testimony__icon {
    width: 87px;
    height: 87px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 62px);
    transform: translate(0px, -3px); }
    .testimony__icon img {
      width: 25px;
      object-fit: contain;
      transform: translate(3px, 0px); }

@media all and (max-width: 768px) {
  .testimony {
    text-align: center; }
    .testimony__column {
      padding-left: 17px;
      padding-right: 17px;
      max-width: 100%;
      flex-basis: 100%;
      position: relative; }
    .testimony__video {
      max-width: 400px;
      height: 400px;
      padding-top: 0px;
      margin: 30px auto; }
    .testimony__icon {
      top: calc(50% - 45px); } }

@media all and (max-width: 576px) {
  .testimony__column:last-child .testimony__video {
    margin-bottom: 0px; }
  .testimony__video {
    height: 0px;
    padding-top: 60%; } }

.chart {
  padding-top: 29px;
  padding-bottom: 78px; }
  .chart__row {
    margin-left: -17px;
    margin-right: -17px;
    display: flex;
    flex-wrap: wrap;
    position: relative; }
  .chart__column {
    padding-left: 17px;
    padding-right: 17px;
    max-width: 33.33333%;
    flex-basis: 33.33333%;
    position: relative; }
  .chart__card {
    min-height: 183px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .chart__card__number {
    font-size: 2.9rem;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
    margin-top: -5px;
    font-weight: bold; }
  .chart__card__desc {
    font-size: 0.85rem;
    letter-spacing: 0.1px; }

@media all and (max-width: 768px) {
  .chart__row {
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    flex-wrap: wrap;
    position: relative; }
  .chart__column {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 33.33333%;
    flex-basis: 33.33333%;
    position: relative; } }

@media all and (max-width: 576px) {
  .chart {
    padding-bottom: 0px !important; }
    .chart__column {
      padding-left: 5px;
      padding-right: 5px;
      max-width: 100%;
      flex-basis: 100%;
      position: relative; }
      .chart__column:last-child .chart__card {
        margin-bottom: 0px; }
    .chart__card {
      margin-bottom: 10px;
      min-height: 120px; } }

.be_a_pro {
  padding-bottom: 0px;
  margin-bottom: -138px; }
  .be_a_pro__content {
    min-height: 304px;
    border-radius: 20px;
    position: relative;
    background-color: #162b2e;
    display: flex;
    align-items: center; }
  .be_a_pro__row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    z-index: 2;
    justify-content: flex-end;
    position: relative; }
  .be_a_pro__column {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 50%;
    flex-basis: 50%;
    position: relative;
    transform: translate(17px, -1px); }
  .be_a_pro__title {
    line-height: 34px;
    font-size: 1.73rem;
    letter-spacing: 0.2px;
    font-weight: 400;
    margin-bottom: 2.1rem;
    transform: translate(0px, 1px);
    color: #ffffff; }
  .be_a_pro__button {
    min-height: 47px;
    width: 229px;
    padding: 5px 25px;
    font-weight: bold;
    justify-content: space-between; }
    .be_a_pro__button .svg {
      height: 14px !important;
      transform: translate(2px, 0px); }
      .be_a_pro__button .svg path {
        stroke: #162b2e; }
  .be_a_pro__image_behide {
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0px;
    left: 0px;
    z-index: 1;
    position: absolute; }
  .be_a_pro__image {
    width: 264px;
    bottom: -5px;
    left: 6.4vw;
    position: absolute; }
    .be_a_pro__image img {
      width: 100%;
      z-index: 1;
      position: relative;
      object-fit: contain; }
  .be_a_pro__ball_behide {
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0px;
    left: 0px;
    z-index: 0;
    overflow: hidden;
    position: absolute; }
    .be_a_pro__ball_behide:after {
      content: "";
      width: 315px;
      height: 315px;
      border-radius: 50%;
      bottom: -150px;
      left: 6.45vw;
      z-index: 0;
      background-color: #24694f;
      position: absolute; }

@media all and (max-width: 768px) {
  .be_a_pro {
    padding-top: 10vw !important;
    text-align: center; }
    .be_a_pro__column {
      padding-left: 15px;
      padding-right: 15px;
      max-width: 100%;
      flex-basis: 100%;
      position: relative; }
    .be_a_pro__title {
      font-size: 1.3rem; } }

@media all and (max-width: 576px) {
  .be_a_pro {
    padding-top: 75px !important; }
    .be_a_pro__ball_behide:after {
      width: 80vw;
      height: 80vw; } }

.footer {
  padding-top: 231px;
  background-color: #eeeeee; }
  .footer__logo {
    margin-bottom: 72px; }
    .footer__logo svg {
      height: 42px !important;
      width: 174px !important;
      object-fit: contain; }
      .footer__logo svg path {
        fill: #000000; }
  .footer__row {
    margin-left: -17px;
    margin-right: -17px;
    display: flex;
    flex-wrap: wrap;
    position: relative; }
  .footer__column {
    padding-left: 17px;
    padding-right: 17px;
    max-width: 25%;
    flex-basis: 25%;
    position: relative; }
  .footer__title {
    margin-bottom: 1.28rem; }
  .footer__menu {
    font-size: 0.85rem; }
  .footer__menu__item {
    margin-bottom: 23.5px; }
    .footer__menu__item:last-child {
      margin-bottom: 0px; }

@media all and (max-width: 768px) {
  .footer {
    padding-top: 150px !important;
    padding-bottom: 0px !important; }
    .footer__logo {
      margin-bottom: 30px;
      display: flex;
      justify-content: center; }
    .footer__column {
      padding-left: 17px;
      padding-right: 17px;
      max-width: 50%;
      flex-basis: 50%;
      position: relative; }
      .footer__column:nth-child(odd) {
        text-align: right; }
      .footer__column:nth-child(3) .footer__menu, .footer__column:nth-child(4) .footer__menu {
        margin-bottom: 0px; }
    .footer__menu {
      margin-bottom: 34px; }
    .footer__menu__item {
      margin-bottom: 10px; } }

.copyright {
  min-height: 106px;
  padding-top: 22px;
  padding-bottom: 15px;
  background-color: #eeeeee; }
  .copyright__row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    align-items: center; }
  .copyright__column {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 50%;
    flex-basis: 50%;
    position: relative; }
    .copyright__column:nth-child(2) {
      display: flex;
      justify-content: flex-end; }
  .copyright__desc {
    font-size: 0.86rem; }
  .copyright__social {
    display: flex;
    align-items: center;
    transform: translate(0px, 2px); }
  .copyright__social__item {
    margin-right: 18px; }
    .copyright__social__item:last-child {
      margin-right: 0px; }
  .copyright__social__link {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: #24694f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff; }

@media all and (max-width: 576px) {
  .copyright__column {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
    flex-basis: 100%;
    position: relative; }
  .copyright__desc {
    margin-bottom: 15px; }
  .copyright__column {
    display: flex;
    justify-content: center;
    align-items: center; }
    .copyright__column:last-child {
      justify-content: center; }
  .copyright__social {
    justify-content: center; } }
